body,
html {
  background: #E6ECF0;
  height: 100%;
  margin:0;
  padding:0;
}
main {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.logo {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
