//
// Trimurtix - v0.0.1
//
// Application Core (STYLUS)
//
//

body, html
  background #282D37
  height 100%
  overflow hidden
  margin 0


main
  display table
  height 100%
  width 100%
  text-align center

.logo
  display table-cell
  vertical-align middle
  margin 0 auto
